<table class="table">
  <div *ngFor="let quiz of quiz; let i = index">
    <div class="modal-container" id="score-modal">

      <div class="modal-content-container">

        <div class="grade-details">
          <p>Pokusy : {{pocetPokusov}}</p>
          <p>Skóre : {{score}}</p>
          <p>Počet chýb : {{pocetChyb}}</p>
          <p>Level : {{level}}</p>
          <p><span id="remarks"></span></p>
        </div>
        <button (click)="closeScoreModal()"><i class="bi bi-send"></i><span>| Ďalej</span></button>
      </div>
    </div>
    <div *ngIf="currentStepIndex === i">

      <div class="game-quiz-container">

        <div class="game-details-container">
          <h1>Score : <span id="player-score"></span>{{score}} / {{koniec}}</h1>
          <h1> Question : <span id="question-number"></span>{{currentStepIndex}} / {{koniec}}</h1>
        </div>

        <div class="game-question-container">
          <h1 id="display-question">{{quiz.question}}</h1>
        </div>

        <div class="game-options-container">

        <span>
        <input [(ngModel)]="userAnswer" [value]="quiz.option1" id="option-one" name="userAnswer" type="radio">
          <label class="option" for="option-one" id="option-one-label">{{quiz.option1}}
        </label>
        </span>

          <span>
        <input [(ngModel)]="userAnswer" [value]="quiz.option2" id="option-two" name="userAnswer" type="radio">
          <label class="option" for="option-two" id="option-two-label">{{quiz.option2}}
        </label>
          </span>

          <span>
        <input [(ngModel)]="userAnswer" [value]="quiz.option3" id="option-three" name="userAnswer" type="radio">
          <label class="option" for="option-three" id="option-three-label">{{quiz.option3}}
        </label>
          </span>

          <span>
        <input [(ngModel)]="userAnswer" [value]="quiz.option4" id="option-four" name="userAnswer" type="radio">
          <label class="option" for="option-four" id="option-four-label">{{quiz.option4}}
        </label>
          </span>
        </div>

        <button (click)="submitAnswers()" id="submit-answers"><i class="bi bi-send"></i><span>| Potvrď odpoveď</span>
        </button>

      </div>
    </div>
  </div>
</table>
