<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  <title></title>

</head>
<body>
<div class='dashboard-app'>
  <div class='dashboard-nav'>
    <app-menu></app-menu>
  </div>
  <div class='dashboard-content'>
    <div class='container'>
      <div class='card'>
        <div class='card-header'>
          <i class="bi bi-person"></i><h1>Cvičenia pre výučbu</h1>
          <button class="btn btn--action" (click)="chodSpat()"><span>Späť</span></button>
        </div>
        <div class='card-body'>
          <div data-pym-src="https://www.jdoodle.com/embed/v0/5AhO"></div>
        </div>
        <div class="center">
          <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a href="#" class="active">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!--<script type=”text/typescript” src=”https://www.jdoodle.com/assets/jdoodle-pym.min.js”></script>
<script type="text/javascript" src="typescript.min.js"></script>
<script type="text/javascript" src="typescript.compile.min.js"></script>
<script type="text/javascript" src="typescript.compile.js"></script>-->
</body>
