<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  <title></title>
</head>
<section>
<div class="wrapper">
    <table class="table">
      <div *ngFor="let step of step; let i = index" [hidden]="i !== currentStepIndex">
        <div class="stepper-container">
          <button class="step-btn prev-btn" (click)="previousStep()"><i class="bi bi-arrow-left-circle"></i><span>Dozadu</span></button>
          <div class="step-indicator-container">
        <th>Číslo úlohy: <br>{{ step.title }}</th>
        <th>Úloha: <br>{{ step.content }}</th>
          </div>
          <button class="step-btn next-btn" (click)="nextStep()"><i class="bi bi-arrow-right-circle"></i><span>Dopredu</span></button>
        </div>
      </div>
    </table>
</div>
</section>
