<table class="table">
  <tr>
    <th>id</th>
    <th>question</th>
    <th>solution</th>
    <th>option1</th>
    <th>option2</th>
    <th>option3</th>
    <th>option4</th>
  </tr>
  <tbody>
  <tr *ngFor="let q of quiz">
    <td>{{ q.id }}</td>
    <td>{{ q.question }}</td>
    <td>{{ q.solution }}</td>
    <td>{{ q.option1 }}</td>
    <td>{{ q.option2 }}</td>
    <td>{{ q.option3}}</td>
    <td>{{ q.option4}}</td>
    <td>
      <button class="btn btn--action" (click)="uprav(q.id)"><span class="uprav">Uprav</span></button>
      <button class="btn btn--action" (click)="zmaz(q.id)"><span class="vymaz">Vymaž</span></button>
    </td>
  </tr>
  </tbody>
</table>
