<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">
  <title></title>
</head>
<form [formGroup]="form">
  <table class="table">
    <th>
      <div class="group">
        <textarea formControlName="option1" required type="text"></textarea>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>1. možnosť: </label>
      </div>

      <div class="group">
        <textarea formControlName="option2" required type="text"></textarea>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>2. možnosť: </label>
      </div>

      <div class="group">
        <textarea formControlName="option3" required type="text"></textarea>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>3. možnosť: </label>
      </div>

      <div class="group">
        <textarea formControlName="option4" required type="text"></textarea>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>4. možnosť: </label>
      </div>

      <div class="group">
        <textarea formControlName="question" required type="text"></textarea>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Otázka: </label>
      </div>

      <div class="group">
        <textarea formControlName="solution" required type="text"></textarea>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Odpoveď: </label>
      </div>
      <div class="group">
        <button (click)="pridaj()" *ngIf="form.value.id === null" class="btn btn--action"><i
          class="bi bi-folder-plus"></i><span class="pridaj"></span></button>
        <button (click)="uprav()" *ngIf="form.value.id !== null" class="btn btn--action"><i
          class="bi bi-wrench"></i><span class="uprav"></span></button>
        <button (click)="zrus()" class="btn btn--action"><i class="bi bi-folder-minus"></i><span class="vymaz"></span>
        </button>
      </div>
    </th>
  </table>
</form>

