<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  <title></title>
</head>
<div class="wrapper">
  <div class ="container">
    <table class="table">
      <th>
          <h1>základné príkazy:</h1>
          <p><br>
            ls - obsah priečinku<br>
            ls -l<br>
            ls -la<br>
            ls -lR<br>
            cd - change directory<br>
            cd .. - change directory do rodicovskeho subora<br>
            cd / - change directory na root<br>
            cd ~ - z root na domovsky priecinok<br>
            cd ~MENO - dostat sa do cudzieho priecinku<br>
            pwd - print working directory<br>
            whoami - kto ste<br>
            mkdir - make directory<br>
            rmdir - remove directory<br>
          </p>
      </th><th>
          <h1>Vysvetlivky:</h1><br>
          <p>
            d = directory<br>
            - = klasicky subor<br>
            l = link -> cesta kde sa subor nachadza<br>

            napr. -> d rwx rwx rwx<br>

            1. rwx -> vlastník<br>
            2. rwx -> skupina vlastníkov<br>
            3. rwx -> ostatní<br>
          </p>
    </th>
    </table>
  </div>
</div>
