
<table class="table">
  <tr>
    <th>id</th>
    <th>content</th>
    <th>content1</th>
    <th>explain</th>
    <th>scripts</th>
    <th>commands</th>
  </tr>
  <tbody>
  <tr *ngFor="let s of skripty">
    <td>{{ s.id }}</td>
    <td><div [innerHTML]="s.content"></div></td>
    <td><div [innerHTML]="s.content1"></div></td>
    <td><div [innerHTML]="s.explain"></div></td>
    <td><div [innerHTML]="s.scripts"></div></td>
    <td><div [innerHTML]="s.commands"></div></td>
    <td>
      <button class="btn btn--action" (click)="uprav(s.id)"><span class="uprav">Uprav</span></button>
      <button class="btn btn--action" (click)="zmaz(s.id)"><span class="vymaz">Vymaž</span></button>
    </td>
  </tr>
  </tbody>
</table>
