<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">
  <title></title>

</head>

<div class="card-body">
  <table>
    <button (click)="pridajCompilerC()" class="btn btn--action"><i class="bi bi-plus-circle-fill"></i><span> | Pridaj Compiler pre C</span>
    </button>
    <button (click)="odstranCompilerC()" class="btn btn--action"><i class="bi bi-x-circle-fill"></i><span> | Odstran Compiler pre C</span>
    </button>
  </table>
  <div class="card" id="here">
  </div>
</div>
