<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">
  <title></title>
</head>

<div class='dashboard-app'>
  <div class='dashboard-nav'>
    <app-menu-konzola>
    </app-menu-konzola>
  </div>
  <div class='dashboard-content'>
    <div class='container'>
      <div class='card'>
        <div class='card-header'>
          <i class="bi bi-person"></i>
          <h1>Admin panel</h1>
          <button (click)="chodSpat()" class="btn btn--action"><i class="bi bi-house-door"></i><span> | Späť</span>
          </button>
          <button (click)="logout()"><i class="bi bi-arrow-bar-left"></i><span> | Logout</span></button>

        </div>
        <!--
        <div class='card-body'>

          <button (click)="showFiller = !showFiller" class="dashboard-nav-item"><i class="bi bi-code-square"></i> | C</button><br><br><br>
          <button (click)="openMenu(menu.QUIZC)" *ngIf="showFiller" class="dashboard-nav-item"><i class="bi bi-wrench"></i> |
            Quiz </button>
          <button (click)="openMenu(menu.CVICENIAC)" *ngIf="showFiller" class="dashboard-nav-item"><i class="bi bi-wrench"></i> |
            Cvičenia </button>
          <button (click)="openMenu(menu.SKRIPTAC)" *ngIf="showFiller" class="dashboard-nav-item"><i class="bi bi-wrench"></i> |
            Skriptá</button><br><br><br>
          <button (click)="showFiller1 = !showFiller1" class="dashboard-nav-item"><i class="bi bi-code-square"></i> | Bash</button><br><br><br>
          <button (click)="openMenu(menu.QUIZBASH)" *ngIf="showFiller1" class="dashboard-nav-item"><i class="bi bi-wrench"></i>|
            Quiz</button>
          <button (click)="openMenu(menu.CVICENIABASH)" *ngIf="showFiller1" class="dashboard-nav-item"><i
            class="bi bi-wrench"></i> | Cvičenia</button>
          <button (click)="openMenu(menu.SKRIPTABASH)" *ngIf="showFiller1" class="dashboard-nav-item"><i
            class="bi bi-wrench"></i>| Skriptá</button><br><br><br>
          <button (click)="showFiller2 = !showFiller2" class="dashboard-nav-item"><i class="bi bi-code-square"></i> | Linux</button><br><br><br>
          <button (click)="openMenu(menu.QUIZLINUX)" *ngIf="showFiller2" class="dashboard-nav-item"><i class="bi bi-wrench"></i>|
            Quiz</button>
          <button (click)="openMenu(menu.CVICENIALINUX)" *ngIf="showFiller2" class="dashboard-nav-item"><i
            class="bi bi-wrench"></i>| Cvičenia</button>
          <button (click)="openMenu(menu.SKRIPTALINUX)" *ngIf="showFiller2" class="dashboard-nav-item"><i
            class="bi bi-wrench"></i>| Skriptá</button>
        </div>

        <app-konzola-formular>

        </app-konzola-formular>
        <app-konzola-zoznam>

        </app-konzola-zoznam>
        -->
      </div>
    </div>
  </div>
</div>




