<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

  <mat-drawer-container class="dashboard-nav" autosize>
    <mat-drawer #drawer mode="side" opened>
    <header>
      <a (click)="openMenu(menu.HOME)" class="brand-logo"><i class="bi bi-journal-code"></i><span>| OPSY 1 </span></a>
    </header>
    <nav class="dashboard-nav-list">
      <a (click)="openMenu(menu.QUIZ)" class="dashboard-nav-item"><i class="bi bi-question-circle"></i> |  Quiz</a>
      <a (click)="openMenu(menu.CVICENIA)" class="dashboard-nav-item"><i class="bi bi-code-slash"></i> |  Cvičenia</a>
      <a (click)="openMenu(menu.SKRIPTA)" class="dashboard-nav-item"><i class="bi bi-printer"></i> |  Skriptá</a>
      <a (click)="openMenu(menu.FAQ)" class="dashboard-nav-item"><i class="bi bi-person"></i>|  FAQ</a>
      <a (click)="openMenu(menu.ADMIN)" class="dashboard-nav-item"><i class="bi bi-wrench"></i>|  Admin</a>
    </nav>

      <div class="date">
      &copy; {{date| date:'dd.MM.yyyy'}}
    </div>
    </mat-drawer>
  </mat-drawer-container>

<header class='dashboard-toolbar'><a mat-button (click)="drawer.toggle()"><h1 class="bi bi-list"></h1></a></header>

