<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  <title></title>
</head>
<script>const mobileScreen = window.matchMedia("(max-width: 990px )");
$(document).ready(function () {
  $(".dashboard-nav-dropdown-toggle").click(function () {
    $(this).closest(".dashboard-nav-dropdown")
      .toggleClass("show")
      .find(".dashboard-nav-dropdown")
      .removeClass("show");
    $(this).parent()
      .siblings()
      .removeClass("show");
  });
  $(".menu-toggle").click(function () {
    if (mobileScreen.matches) {
      $(".dashboard-nav").toggleClass("mobile-show");
    } else {
      $(".dashboard").toggleClass("dashboard-compact");
    }
  });
});</script>
<!--
  <div class="wrapper">

  <p></p>p
<section>
  <nav class="navMenu">

    <button (click)="openMenu(menu.VAKCINA)"><i class="bi bi-shield-fill-check"></i>Vakcína</button>
    <button (click)="openMenu(menu.OSOBA)"><i class="bi bi-person"></i>Osoba</button>
    <div class="dot"></div>

  </nav>
</section>
</div>
-->
<div class='dashboard'>
  <div class="dashboard-nav">
    <header><a class="menu-toggle"><i class="fas fa-bars"></i></a>
      <a (click)="openMenu(menu.HOME)" class="brand-logo"><i class="bi bi-journal-code"></i><span>| Operačné systémy 1 </span></a></header>
    <nav class="dashboard-nav-list">
      <a (click)="openMenu(menu.QUIZ)" class="dashboard-nav-item"><i class="bi bi-question-circle"></i> |  Quiz</a>
      <a (click)="openMenu(menu.CVICENIA)" class="dashboard-nav-item"><i class="bi bi-code-slash"></i> |  Cvičenia</a>
      <a (click)="openMenu(menu.SKRIPTA)" class="dashboard-nav-item"><i class="bi bi-printer"></i> |  Skriptá</a>
      <a (click)="openMenu(menu.FAQ)" class="dashboard-nav-item"><i class="bi bi-person"></i>|  FAQ</a>
      <a (click)="openMenu(menu.ADMIN)" class="dashboard-nav-item"><i class="bi bi-wrench"></i>|  Admin</a>
    </nav>

      <div class="date">
      &copy; {{date| date:'dd.MM.yyyy'}}
    </div>
  </div>
</div>





