<table class="table">
  <tr>
    <th>id</th>
    <th>content</th>
    <th>input</th>
    <th>solution</th>
    <th>language</th>
  </tr>
  <tbody>
  <tr *ngFor="let c of cvicenieC">
    <td>{{ c.id }}</td>
    <td>{{ c.content }}</td>
    <td>{{ c.input }}</td>
    <td>{{ c.solution }}</td>
    <td>{{ c.language}}</td>
    <td>
      <button class="btn btn--action" (click)="uprav(c.id)"><span class="uprav">Uprav</span></button>
      <button class="btn btn--action" (click)="zmaz(c.id)"><span class="vymaz">Vymaž</span></button>
    </td>
  </tr>
  </tbody>
</table>
