<table class="table">

  <th>id</th>
  <th>content</th>
  <th>input</th>
  <th>solution</th>

  <tbody *ngFor="let c of cvicenieLinux">
  <td>{{ c.id }}</td>
  <td><div [innerHTML]="c.content"></div></td>
  <td><div [innerHTML]="c.input"></div></td>
  <td><div [innerHTML]="c.solution"></div></td>
  <td>
    <button class="btn btn--action" (click)="uprav(c.id)"><i class="bi bi-wrench"></i><span class="uprav"></span></button>
    <button class="btn btn--action" (click)="zmaz(c.id)"><i class="bi bi-folder-minus"></i><span class="vymaz"></span></button>
  </td>
  </tbody>
</table>
