<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  <title></title>
</head>



          <form (submit)="login()">
            <div class="box">
            <h1>Dashboard</h1>
            <input class="email" type="text" [(ngModel)]="username" name="username" placeholder="Meno" required>

            <input class="email" type="password" [(ngModel)]="password" name="password" placeholder="Heslo" required>

            <button class="btn" type="submit"><i class="bi bi-arrow-bar-right"></i><span> | Login</span></button>
            <button class="btn" (click)="chodSpat()"><i class="bi bi-house-door"></i><span> | Späť</span></button>
            </div>
          </form>



