<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  <title></title>
</head>
<div class='dashboard-app'>
  <div class='dashboard-nav'>
    <app-menu></app-menu>
  </div>
  <div class='dashboard-content'>
    <div class='container'>
      <div class='card'>
        <div class='card-header'>
          <i class="bi bi-person"></i><h1>Operačné systémy 1</h1>
          <button class="btn btn--action"(click)="chodSpat()"><i class="bi bi-house-door"></i><span> | Späť</span></button>
        </div>
        <div class='card-body'>
          <app-skripta-poznamky
            [skripta]="skripta">

          </app-skripta-poznamky>


          <app-skripta-formular
            [skripta]="skripta"
          >

          </app-skripta-formular>
          <app-skripta-zoznam
          [skripta]="skripta"
          >

          </app-skripta-zoznam>
        </div>
      </div>
    </div>
  </div>
</div>
