<!--
<section>
  <div class="wrapper">
<table class="table">
  <div *ngFor="let quiz of quiz; let i = index">
    <th>
      Možnosť1: {{quiz.option1}}<br>
      Možnosť2: {{quiz.option2}}<br>
      Možnosť3: {{quiz.option3}}<br>
      Otázka: {{quiz.question}}<br>
      Riešenie: {{quiz.solution}}
    </th>
  </div>
  <h1>Quiz</h1>
  <div class="stepper-container">
    <div class="stepper-content">
    <div *ngFor="let quiz of quiz; let i = index">
      <div *ngIf="currentStepIndex === i">
      <p>{{quiz.question}}</p>
        <p>Aktuálne skóre: {{score}}</p>
        <input [(ngModel)]="userAnswer" name="userAnswer">
          <button (click)="submitAnswers()">Submit answers</button>
      <br><br>
      </div>
    </div>
      <div *ngFor="let quiz of quiz; let i = index">
        <div *ngIf="currentStepIndex === i">
          <p>{{quiz.question}}</p>
          <p>Aktuálne skóre: {{score}}</p>
          <select [(ngModel)]="userAnswer" name="userAnswer">
            <option >{{quiz.option1}}</option>
            <option >{{quiz.option2}}</option>
            <option >{{quiz.option3}}</option>
            <option >{{quiz.option4}}</option>
          </select>
            <button (click)="submitAnswers()">Submit answers</button>
            <br><br>
        </div>
      </div>
    </div>
  </div>

</table>
  </div>
</section>
-->
<table class="table">
<section>
  <div class="wrapper">
<div *ngFor="let quiz of quiz; let i = index">
  <div class="modal-container" id="score-modal">

    <div class="modal-content-container">

      <h1>Congratulations, Quiz Completed.</h1>

      <div class="grade-details">
        <p>Attempts : {{currentStepIndex}}</p>
        <p>Score : {{score}}</p>
        <p ><span id="remarks"></span></p>
      </div>
      <div class="modal-button-container">
        <button (click)="closeScoreModal()">Continue</button>
      </div>
    </div>
  </div>
  <div *ngIf="currentStepIndex === i">

      <div class="game-quiz-container">

        <div class="game-details-container">
          <h1>Score : <span id="player-score"></span>{{score}}</h1>
          <h1> Question : <span id="question-number"></span>{{currentStepIndex}} / {{currentStepIndex}}</h1>
        </div>

        <div class="game-question-container">
          <h1 id="display-question">{{quiz.question}}</h1>
        </div>

        <div class="game-options-container">

        <span>
        <input id="option-one" [(ngModel)]="userAnswer" name="userAnswer" type="radio" [value]="quiz.option1">
          <label for="option-one" class="option" id="option-one-label">{{quiz.option1}}
        </label>
        </span>

        <span>
        <input id="option-two" [(ngModel)]="userAnswer" name="userAnswer" type="radio" [value]="quiz.option2">
          <label for="option-two" class="option" id="option-two-label">{{quiz.option2}}
        </label>
          </span>

        <span>
        <input id="option-three" [(ngModel)]="userAnswer" name="userAnswer" type="radio" [value]="quiz.option3">
          <label for="option-three" class="option" id="option-three-label">{{quiz.option3}}
        </label>
          </span>

        <span>
        <input id="option-four" [(ngModel)]="userAnswer" name="userAnswer" type="radio" [value]="quiz.option4">
          <label for="option-four" class="option" id="option-four-label">{{quiz.option4}}
        </label>
          </span>
      </div>

        <button (click)="submitAnswers()"><i class="bi bi-send"></i><span>| Potvrď odpoveď</span></button>
</div>
  </div>
  </div>
  </div>
</section>
</table>
