<section>
  <div class="wrapper">
<table class="table">
  <div *ngFor="let quiz of quiz; let i = index">
    <th>
      Možnosť1: {{quiz.option1}}<br>
      Možnosť2: {{quiz.option2}}<br>
      Možnosť3: {{quiz.option3}}<br>
      Otázka: {{quiz.question}}<br>
      Riešenie: {{quiz.solution}}
    </th>
  </div>
  <h1>Quiz</h1>
  <div class="stepper-container">
    <div class="stepper-content">
    <div *ngFor="let quiz of quiz; let i = index">
      <div *ngIf="currentStepIndex === i">
      <p>{{quiz.question}}</p>
        <p>Aktuálne skóre: {{score}}</p>
        <input [(ngModel)]="userAnswer" name="userAnswer">
          <button (click)="submitAnswers()">Submit answers</button>
      <br><br>
      </div>
    </div>
    </div>
  </div>
</table>
  </div>
</section>

