<section>
  <div class="wrapper">
<table class="table">
  <div *ngFor="let quiz of quiz; let i = index">
    <th>
      Možnosť1: {{quiz.option1}}<br>
      Možnosť2: {{quiz.option2}}<br>
      Možnosť3: {{quiz.option3}}<br>
      Otázka: {{quiz.question}}<br>
      Riešenie: {{quiz.solution}}
    </th>
  </div>
  <h1>Quiz</h1>
    <div *ngFor="let quiz of quiz; let i = index">
      <div *ngIf="currentStepIndex === i">
      <p>{{quiz.question}}</p>
        <form>
        <input type="text" id="question_{{i}}" required>
       </form>
      <br><br>
      </div>
    </div>

  <button (click)="submitAnswers()">Submit answers</button>

</table>
  </div>
</section>

