<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  <title></title>

</head>
<div class="wrapper">
  <div class="card-body">
    <table>
      <tr>
        <th>
        <button class="btn btn--action" (click)="pridajCompilerC()"><i class="bi bi-plus-circle-fill"></i><span> | Pridaj Compiler pre C</span></button>
        <button class="btn btn--action" (click)="odstranCompilerC()"><i class="bi bi-x-circle-fill"></i><span> | Odstran Compiler pre C</span></button>
        </th>
        <button class="btn btn--action" (click)="pridajCompilerBash()"><i class="bi bi-plus-circle-fill"></i><span> | Pridaj Compiler pre Bash</span></button>
        <button class="btn btn--action" (click)="odstranCompilerBash()"><i class="bi bi-x-circle-fill"></i><span> | Odstran Compiler pre Bash</span></button>
        <th>
        <button class="btn btn--action" (click)="pridajCompilerLinux()"><i class="bi bi-plus-circle-fill"></i><span> | Pridaj Linux Terminal </span></button>
        <button class="btn btn--action" (click)="odstranCompilerLinux()"><i class="bi bi-x-circle-fill"></i><span> | Odstran Linux Terminal</span></button>
        </th>
      </tr>
    </table>
    <div class="card" id="here">
    </div>
  </div>

</div>
