<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  <title></title>

</head>
<div class="wrapper">
    <button class="btn btn--action"(click)="PrikladyC()"><i class="bi bi-house-door"></i><span> | C</span></button>
    <button class="btn btn--action"(click)="PrikladyBash()"><i class="bi bi-house-door"></i><span> | Bash</span></button>
    <button class="btn btn--action"(click)="PrikladyLinux()"><i class="bi bi-house-door"></i><span> | Linux</span></button>
</div>
